[submodule "Projeto 1 - CRUD Bancário"]
	path = Projeto 1 - CRUD Bancario
	url = https://github.com/5TheLoneWolf5/EDDS_PB_TP2.git
[submodule "Projeto 2 - CRUD FinTech"]
	path = Projeto 2 - CRUD FinTech
	url = https://github.com/5TheLoneWolf5/EDDS_PB_TP3.git
